









@keyframes chuchay{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
header{
    background-color: rgb(237,237,237);
}
header img{
    margin-left: 47%;
}
div.header h1.text{
    text-transform: uppercase;
    color: black;
    position: absolute;
    top: 100px;
    text-indent:  100px;
    animation: chuchay 3s forwards;
}
div.header h1.text_2{
    color: black;
    position: absolute;
    top: 160px;
    text-indent: 100px;
    animation: chuchay 3s forwards;
}
img.background{
    width: 100%;
}

/* Scroll */
.inline-photo{
    transform: translateY(4em) rotatez(-2deg);
    opacity: 0;
    transition: transform 4s .25s cubic-bezier(0, 1,0.3,1), opacity .3s .25s ease-out;
    will-change: opacity, transform;
}
.inline-photo.is-visible{
    opacity: 1;
    transform: rotateZ(-2deg);
}
h1{
    font-size: 50px;
}
div#image img{
    width: 50%;
}
h2{
    font-size: 20px;
    color:white;
    display: block;
}
p{
    color: white;   
    font-size: 16px;
    display: block;
}
figcaption p{
    padding-top: 15%;
    font-size: 40px;
    text-shadow: 0 0 5px white, 0 0 10px white,
    0 0 20px white, 0 0 30px white,
    0 0 40px white;

}
.myimg_1 figcaption p{
    padding-top:20%;
}
.myimg_3 figcaption p{
    padding-top: 13%;
}

div#image figure.imghvr-fade{
    width: 50%;
}
div#image figure.imghvr-zoom-in{
    width: 50%;
}
div#image figure.imghvr-zoom-out{
    width: 50%;
}
div#image figure.imghvr-zoom-out-down{
    width: 50%;
}
div#image figure.imghvr-zoom-out-left{
    width: 50%;
}
div#image figure.imghvr-zoom-out-right{
    width: 50%;
}
div#image figcaption.imghvr-zoom-out-up{
    width: 50%;
}
div#image div.myimg_1 img{
    float: left;
}
div#image div.myimg_1 p, div#image div.myimg_1 h2{
    float: right;
}
div#image div.myimg_2{
    clear: both;
}
div#image div.myimg_2 img{
    float: right;
}
div#image div.myimg_2 h2, div#image div.myimg_2 p{
    float: left;
}
div#image div.myimg_3{
    clear: both;
}
div#image div.myimg_3 img{
    float: left;
}
div#image div.myimg_3 h2, div#image div.myimg_3 p{
    float: right;
}
div#image div.myimg_4{
    clear: both;
}
div#image div.myimg_4 img{
    float: right;
}
div#image div.myimg_4 h2, div#image div.myimg_4 p{
    float: left;
}
div#image div.myimg_5{
    clear: both;
}
div#image div.myimg_5 img{
    float: left;
}
div#image div.myimg_5 h2, div#image div.myimg_5 p{
    float: right;
}
div#image h2{
    padding-top: 10%;
    width: 50%;
    text-align: center;
    color: white;
}
div#image p{
    text-align: center;
    width: 100%;
}
div#image img{
    border-radius: 10px;
}
div#image figure.imghvr-fade img{
    width: 110%;
}
div#image figure.imghvr-zoom-in img{
    width: 110%;
}
div#image figure.imghvr-zoom-out img{
    width: 110%;
}
div#image figure.imghvr-zoom-out-up img{
    width: 110%;
}
div#image figure.imghvr-zoom-out-down img{
    width: 110%;
}
div#image figure.imghvr-zoom-out-left img{
    width: 110%;
}
div#image figure.imghvr-zoom-out-right img{
    width: 110%;
}
[class^="imghvr-"],
[class*=" imghvr-"] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    opacity: 0.5;
    background-color: transparent;
    color: #fff;
    animation: chuchay 3s forwards;
    overflow: hidden;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

[class^="imghvr-"] > img,
[class*=" imghvr-"] > img {
    vertical-align: middle;
    max-width: 100%;
}

[class^="imghvr-"] figcaption,
[class*=" imghvr-"] figcaption {
    background-color: red;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    border-radius: 10px;

}

[class^="imghvr-"] figcaption h1,
[class^="imghvr-"] figcaption h2,
[class^="imghvr-"] figcaption h3,
[class^="imghvr-"] figcaption h4,
[class^="imghvr-"] figcaption h5,
[class^="imghvr-"] figcaption h6,
[class*=" imghvr-"] figcaption h1,
[class*=" imghvr-"] figcaption h2,
[class*=" imghvr-"] figcaption h3,
[class*=" imghvr-"] figcaption h4,
[class*=" imghvr-"] figcaption h5,
[class*=" imghvr-"] figcaption h6 {
    padding: 0%;
    color: #ffffff;
}

[class^="imghvr-"] a,
[class*=" imghvr-"] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]:before,
[class^="imghvr-"]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *:before,
[class^="imghvr-"] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
    box-sizing: border-box;
    transition: all 0.35s ease;
}

/* imghvr-zoom-in
   ----------------------------- */
.imghvr-zoom-in figcaption {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}

.imghvr-zoom-in:hover figcaption {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
/* imghvr-zoom-out*
   ----------------------------- */
   [class^="imghvr-zoom-out"] figcaption,
   [class*=" imghvr-zoom-out"] figcaption {
       -webkit-transform: scale(0.5);
               transform: scale(0.5);
       -webkit-transform-origin: 50% 50%;
               transform-origin: 50% 50%;
       opacity: 0;
   }
   
   [class^="imghvr-zoom-out"]:hover figcaption, [class^="imghvr-zoom-out"].hover figcaption,
   [class*=" imghvr-zoom-out"]:hover figcaption,
   [class*=" imghvr-zoom-out"].hover figcaption {
       -webkit-transform: scale(1);
               transform: scale(1);
       opacity: 1;
       transition-delay: 0.35s;
   }
   
   /* imghvr-zoom-out
      ----------------------------- */
   .imghvr-zoom-out:hover > img {
       -webkit-transform: scale(0.5);
               transform: scale(0.5);
       opacity: 0;
   }
   
   /* imghvr-zoom-out-up
      ----------------------------- */
   .imghvr-zoom-out-up:hover > img, .imghvr-zoom-out-up.hover > img {
       -webkit-animation: imghvr-zoom-out-up 0.4025s linear;
               animation: imghvr-zoom-out-up 0.4025s linear;
       -webkit-animation-iteration-count: 1;
               animation-iteration-count: 1;
       -webkit-animation-fill-mode: forwards;
               animation-fill-mode: forwards;
   }
   
   @-webkit-keyframes imghvr-zoom-out-up {
       50% {
           -webkit-transform: scale(0.8) translateY(0%);
                   transform: scale(0.8) translateY(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateY(-150%);
                   transform: scale(0.8) translateY(-150%);
           opacity: 0.5;
       }
   }
   
   @keyframes imghvr-zoom-out-up {
       50% {
           -webkit-transform: scale(0.8) translateY(0%);
                   transform: scale(0.8) translateY(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateY(-150%);
                   transform: scale(0.8) translateY(-150%);
           opacity: 0.5;
       }
   }
   
   /* imghvr-zoom-out-down
      ----------------------------- */
   .imghvr-zoom-out-down:hover > img, .imghvr-zoom-out-down.hover > img {
       -webkit-animation: imghvr-zoom-out-down 0.4025s linear;
               animation: imghvr-zoom-out-down 0.4025s linear;
       -webkit-animation-iteration-count: 1;
               animation-iteration-count: 1;
       -webkit-animation-fill-mode: forwards;
               animation-fill-mode: forwards;
   }
   
   @-webkit-keyframes imghvr-zoom-out-down {
       50% {
           -webkit-transform: scale(0.8) translateY(0%);
                   transform: scale(0.8) translateY(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateY(150%);
                   transform: scale(0.8) translateY(150%);
           opacity: 0.5;
       }
   }
   
   @keyframes imghvr-zoom-out-down {
       50% {
           -webkit-transform: scale(0.8) translateY(0%);
                   transform: scale(0.8) translateY(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateY(150%);
                   transform: scale(0.8) translateY(150%);
           opacity: 0.5;
       }
   }
   
   /* imghvr-zoom-out-left
      ----------------------------- */
   .imghvr-zoom-out-left:hover > img, .imghvr-zoom-out-left.hover > img {
       -webkit-animation: imghvr-zoom-out-left 0.4025s linear;
               animation: imghvr-zoom-out-left 0.4025s linear;
       -webkit-animation-iteration-count: 1;
               animation-iteration-count: 1;
       -webkit-animation-fill-mode: forwards;
               animation-fill-mode: forwards;
   }
   
   @-webkit-keyframes imghvr-zoom-out-left {
       50% {
           -webkit-transform: scale(0.8) translateX(0%);
                   transform: scale(0.8) translateX(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateX(-150%);
                   transform: scale(0.8) translateX(-150%);
           opacity: 0.5;
       }
   }
   
   @keyframes imghvr-zoom-out-left {
       50% {
           -webkit-transform: scale(0.8) translateX(0%);
                   transform: scale(0.8) translateX(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateX(-150%);
                   transform: scale(0.8) translateX(-150%);
           opacity: 0.5;
       }
   }
   
   /* imghvr-zoom-out-right
      ----------------------------- */
   .imghvr-zoom-out-right:hover > img, .imghvr-zoom-out-right.hover > img {
       -webkit-animation: imghvr-zoom-out-right 0.4025s linear;
               animation: imghvr-zoom-out-right 0.4025s linear;
       -webkit-animation-iteration-count: 1;
               animation-iteration-count: 1;
       -webkit-animation-fill-mode: forwards;
               animation-fill-mode: forwards;
   }
   
   @-webkit-keyframes imghvr-zoom-out-right {
       50% {
           -webkit-transform: scale(0.8) translateX(0%);
                   transform: scale(0.8) translateX(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateX(150%);
                   transform: scale(0.8) translateX(150%);
           opacity: 0.5;
       }
   }
   
   @keyframes imghvr-zoom-out-right {
       50% {
           -webkit-transform: scale(0.8) translateX(0%);
                   transform: scale(0.8) translateX(0%);
           opacity: 0.5;
       }
       100% {
           -webkit-transform: scale(0.8) translateX(150%);
                   transform: scale(0.8) translateX(150%);
           opacity: 0.5;
       }
   }
footer{
    border-top: 1px solid  gray; 
    width: 100%;
    clear: both;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}
footer div{
    width: 40%;
}
footer div.Info{
    text-align: center;
}
footer div.Info h2{
    margin-top: 0px;
    font-size: 40px;
    text-shadow: 10px 10px 15px black;
}
footer div.Info h2:hover{
    text-shadow: 20px 20px 30px black;
    transition: text-shadow 1s ease-in-out;
}
footer div.Info p{
    font-size: 20px;
}
div.icon img{
    margin-left: 10px;
    width: 10%;
}
div.icon img:hover{
    color: black;
    width: 20%;
    transition: width 1s ease-in-out;
}
div.icon{
    letter-spacing: 15px;
}
div.icon img:first-of-type{
    padding-left: 50px;
}
div.icon img:last-of-type{
    padding-left: 150px;
    padding-top: 10%;
    width: 25%;
}